flask
msal
requests
python-dotenv
azure-identity
azure-mgmt-subscription
azure-mgmt-resource
azure-mgmt-compute
azure-mgmt-network
azure-monitor-query==1.2.0
azure-mgmt-loganalytics
azure-loganalytics
azure-mgmt-monitor==3.0.0
azure-mgmt-loganalytics 
azure-mgmt-storage
azure.mgmt.containerinstance
azure-storage-blob
azure-core
flask_cors

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-storage
