flask
msal
requests
python-dotenv
azure-identity
azure-mgmt-subscription
azure-mgmt-resource
azure-mgmt-compute
azure-mgmt-network
azure-monitor-query==1.2.0
azure-mgmt-loganalytics
azure-loganalytics
azure-mgmt-monitor==3.0.0
azure-mgmt-loganalytics 
azure.mgmt.containerinstance
azure-core
flask_cors
